<div class="row" ng-controller="WishListCtrl" ng-init="getList()">
	<div class="col-sm-8 col-sm-offset-2">
		<h3>All Wishlists</h3>
		<table class="table table-border">
			<tr>
				<th>#</th>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Items</th>
				<th style="width: 80px">Actions</th>
			</tr>
			<tr ng-repeat="Model in allWishlists">
				<td>{{$index+1}}</td>
				<td><a ng-href="/{{Model._id}}">{{Model._id}}</a></td>
				<td><a ng-href="/{{Model._id}}">{{Model.name}}</a></td>
				<td>{{Model.description.substr(0,75)}}</td>
				<td>{{Model.items.length}}</td>
				<td>
					<button class="edit btn btn-xs btn-warning" ng-click="editModel(Model)">Edit</button>
					<button class="pull-right remove btn btn-xs btn-danger" ng-click="removeModel(Model)">x</button>
				</td>
			</tr>
		</table>
	</div>
</div>