<!DOCTYPE html>
<html lang="en">
	<head>
	    <% include ../partials/head %>
	</head>
	<body ng-app='app' ng-cloak>
	
	    <header class="header header-fixed">
	        <% include ../partials/header %>
	    </header>
	
	    <div class='container-fluid' ng-controller="PageViewCtrl">
	    	<ng-include src="src"></ng-include>
	    </div>
	</body>
</html>