		<nav class="navbar navbar-default navbar-inverse" role="navigation" ng-controller="DashboardCtrl">
			<div class="">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
					<a class="navbar-brand" href="javascript:void(0)" ng-click="clear()">Marvel Character Finder</a>
					<form class="navbar-form navbar-left" role="search" class="col-xs-5">
						<ui-select ng-model="search" theme="bootstrap" ng-change="showValue()">
							<ui-select-match placeholder="Search...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="character in characters | filter: $select.search" refresh="refreshCharacters($select.search)" refresh-delay="0">
								<div ng-bind-html="character.name | highlight: $select.search" ng-click="selectedCharacter(character)"></div>
						    </ui-select-choices>
					    </ui-select>
			        </form>
				</div>
			</div>
		</nav>